 .BoatListings__page .image {
height: 157px;
width: 259px;
left: 293px;
top: 123px;
border-radius: 18px;
}

.BoatListings__page {

display: flex;
justify-content: center;
align-content: center;

}

.BoatListings__container {
    background-image: url(https://res.cloudinary.com/dexkxkrfp/image/upload/v1647927769/airbnboats/airbnboats-background-imgs/vertical-mar-de-maldivas-4594_kpxyww.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}
.nav__panel a {
    text-decoration: none;
    color: #364885;
}
a:visited {
    color: #364885
}
a:hover {
    color: #6f4079
}

.boat__details a {
    text-decoration: none;
}

