 .BoatListings__page .image {
height: 157px;
width: 259px;
left: 293px;
top: 123px;
border-radius: 18px;
}

.BoatListings__page {

display: flex;
justify-content: center;
align-content: center;

}

.nav__panel a {
    text-decoration: none;
    color: #364885;
}
a:visited {
    color: #364885
}
a:hover {
    color: #6f4079
}

.boat__details a {
    text-decoration: none;
}

