

.page__container {
    display: flex;
    justify-content: center;
    background-image: url(https://res.cloudinary.com/dexkxkrfp/image/upload/v1647927769/airbnboats/airbnboats-background-imgs/vertical-mar-de-maldivas-4594_kpxyww.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100%;
}
.page__content {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    height: 100%;
}

.boat__image .image {
height: 283px;
width: 542px;
display: flex;
justify-content: center;
/* height: 60%;
width: 60%; */
border-radius: 18px;
margin-top: 30px;

}

.boatList__section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 720px;
    padding-top: 10%;
    padding-bottom: 10%;
    background: rgba(79, 176, 182, 0.5);
    border-radius: 10px;
}

.boatList__section .description__container {
    border: 1px solid;
    width: 100%;
}

.review__section {
    border-top: 1px solid;
    padding: 5px;
    padding-bottom: 10px;
}

.form__section {
    display: flex;
    width: 200px;
    height: 150px;
    padding: 10px;
}

textarea {
    width: 200px;
    height: 100px;
}