
.body .page__container {
    display: flex;
    justify-content: center;
}

.boat__image .image {
height: 283px;
width: 542px;
border-radius: 18px;

}

.description__container {
    background-color: red;
}

.review__section {
    border-top: 1px solid;
    padding: 5px;
    padding-bottom: 10px;
}

.form__section {
    display: flex;
    width: 200px;
    height: 150px;
    padding: 10px;
}

textarea {
    width: 200px;
    height: 100px;
}